<form action="/new" method="post">
    <input type="text" name="name">
    
    <input type="text" name="special">
    
    <select id="size-select" name="size">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="big">Big</option>
    </select>

    <button type="submit">Create tortilla</button>
    
</form>