<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title>TortillaAPP</title>
</head>

<body>
  <nav>
    {{#if currentUser}}
    <div>
      <p>{{currentUser.username}}</p>
      <form action="/auth/logout" method="POST">Logout</form>
      <button type="submit">Logout</button>
      {{else}}
      <a href="/auth/signup">Signup</a>
      <a href="/auth/login">Logout</a>
      {{/if}}
      
    </div>
  
  </nav>
  {{{body}}}
</body>

</html>

